@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, Arial, Helvetica, sans-serif;
    background: #fff;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 300;
}

button {
    background: #3882f6;
    color: #f9faf8;
    padding: 8px 40px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.125rem;
    border: none;
}

header, footer {
    background-color: #1f2937;
    color: #f9faf8;
}

.main-nav {
    padding: 24px 150px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 1.33rem;
    color: #f9faf8;
    font-weight: 900;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.main-nav a {
    color: #e5e7eb;
    text-decoration: none;
}

.hero {
    padding: 80px 150px 130px;
    display: flex;
    gap: 44px;
}

.hero h1 {
    font-size: 2.67rem;
    font-weight: 900;
    margin-bottom: 16px;
}

.hero-content p {
    color: #e5e7eb;
    margin-bottom: 16px;
}

.hero-image {
    width: 500px;
    height: 250px;
    background: #ddd;
    flex: 0 0 auto;
}

.information h2 {
    font-size: 2rem;
    font-weight: 900;
    color: #1f2937;
}

.testimonial {
    background: #e5e7eb;
    color: #1f2937;
    padding: 100px;
    display: flex;
    justify-content: center;
}

.testimonial .quote {
    font-size: 2rem;
    font-style: italic;
    width: 65%;
}

.testimonial .quote-author {
    font-size: 1.55rem;
    font-weight: 900;
    display: block;
    text-align: right;
    font-style: normal;
}

.cta-sign-up {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-content {
    background: #3882f6;
    width: 80%;
    border-radius: 8px;
    padding: 48px;
    display: flex;
    justify-content: space-around;
}

.cta-content h3 {
    color: #f9faf8;
}

.cta-content p {
    color: #e5e7eb;
}

.cta-content button {
    border: 2px solid #f9faf8;
}

footer {
    height: 100px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}